#####################################################################
#   X/Y/Z Stepper Settings
#####################################################################
# 
# with 16 microsteps - from Matts github description
#
#############################################
[stepper_x]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
rotation_distance: 40
microsteps: 16
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: -2
position_endstop: 157   # from  Dev
position_max: 157
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
#run_current: 1.0
run_current: 0.8         # from Dev
#run_current: 1.4
#hold_current: 0.8
stealthchop_threshold: 0
diag_pin: ^gpio4
driver_SGTHRS: 90
interpolate: true

###############################################
[stepper_y]
step_pin: gpio6
dir_pin: !gpio5
enable_pin: !gpio7
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_min: -2
position_endstop: 174
position_max: 174
homing_speed: 50
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
#run_current: 1.0
run_current: 0.8
#run_current: 1.4
#hold_current: 0.8
stealthchop_threshold: 0
diag_pin: ^gpio3
driver_SGTHRS: 95
interpolate: true

[stepper_z]
step_pin: gpio19
dir_pin: !gpio28
enable_pin: !gpio2
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200  #???
#endstop_pin: tmc2209_stepper_z:virtual_endstop
# for klicky probe on z-endstop pin
endstop_pin: probe:z_virtual_endstop

position_min: -6
position_max: 156
homing_speed: 4

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.8
diag_pin: ^gpio25
driver_SGTHRS: 62
stealthchop_threshold: 999999
interpolate: true


#[autotune_tmc stepper_x]
#motor: usongshine17HS4401
#tuning_goal: performance

#[autotune_tmc stepper_y]
#motor: usongshine17HS4401
#tuning_goal: performance

#[autotune_tmc stepper_z]
#motor: usongshine17HS4401
#tuning_goal: silent